<!-- Table -->
<table class="table">
  <thead>
  <tr>
    <td>Name</td>
    <td>Level</td>
    <td></td>
  </tr>
  </thead>
  @for (employee of employees; track employee._id) {
  <tr>
    <td>{{employee.name}}</td>
    <td>{{employee.level | level}}</td>
    <td>
      <button (click)="onEditEmployee(employee._id)">Edit</button>
      <button (click)="onDeleteEmployee(employee._id)">Delete</button>
      <button (click)="onDetailsEmployee(employee)">Details</button>
    </td>
  </tr>
  }
</table>

@if (showDetails) {
  <app-employee  [employee]="employeeDetails"></app-employee>
}


